:root {
    --wheat: #ecdec3;
    --button-alive: #AFF0D1;
    --button-dead: #AA88BA;
    --wheat-translucent: rgba(236, 222, 195, 0.5);
    --grey-wheat: rgb(119, 112, 100);
    --near-black: rgb(31, 30, 30);
    --light-black: rgba(0, 0, 0, 0.719);
    --spacing-large: 2em;
    --default-font-size: 20pt;
    --medium-font-size: 16pt;
    --small-font-size: 12pt;

    
    --link-container-width: 10%;
    --main-relative-width: 80%;

    --border-width: 1px;
    --thick-border-width: 3px;
}

* {
    background: none;
    margin: 0;
    padding: 0;
    color: var(--wheat);
    font-size: var(--default-font-size);
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0.1em 0.05em var(--wheat-translucent);
}

#root, body, html {
    background: var(--near-black);
    width: 100%;
}

#app-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#app {
    background: rgba(0, 0, 0, 0.719);

    position: relative;
    min-height: 100vh;

    padding-top: var(--spacing-large);
    width: var(--main-relative-width);
    margin: auto;
}

#input, #output, .main{
    background: none;

    margin: var(--spacing-large) auto;
    width: var(--main-relative-width);
    padding: 1em;
    border: solid var(--wheat) var(--border-width);
    border-radius: 0em 0em 0em 2em;
}

#input {
    border-radius: 2em 0em 0em 0em;
    text-align: center;
}

#credits {
    bottom: 0;
    left: 50%;

    text-align: center;
    width: var(--main-relative-width);
    margin: auto;
    padding: var(--spacing-large)
}

.fine-print {
    text-align: inherit;
    font-size: var(--small-font-size);
}

button {
    padding: 0.5em;
    border: solid var(--wheat) var(--border-width);
}

.grey {
    color: var(--grey-wheat);
}

.article {
    margin: 0.3em;
    padding: 0.3em;
}

.title-bar{
    font-size: 14pt;
    font-weight: 900;
}

.title-bar:nth-child(2){
    font-size: 10pt;
    font-style: italic;
}

details {
    font-size: var(--small-font-size);
}

summary:focus {
    box-shadow: none;
}

.article-content {
    padding: 0.5em;
    padding-left: 1em;
    font-size: var(--small-font-size);
}

summary {
    font-size: var(--small-font-size);
}

.checkbox-wrapper {
    background: var(--button-dead);
    padding: 0.5em;
    margin: 0.5em;
}

.checkbox-wrapper.active{
    background: var(--button-alive);
    color: var(--near-black)
}

.checkbox {
    color: inherit;
}

#checkbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.link-object {
    position: absolute;
    top: 10em;
    width: 10em;
    text-align: center;
    z-index: 1;

    padding: 0.3em;
    border: solid var(--wheat) var(--border-width);
}

.link-object-container {
    background: pink;
    top: 0;
}

.link-object.position-left {
    transform: translateX(-40%) rotate(-90deg) ;
    left: 0;
}

.link-object.position-right {
    transform: translateX(40%) rotate(90deg) ;
    right: 0;
}

.link-literal {
    text-decoration: none;
}

#sw-buttons {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.sw-button {
    padding: 0.5em;
}

.sw-button.active {
    background: var(--wheat);
    color: var(--near-black);
}

.sw-content {
    margin: 1em 0.5em;
    border: solid var(--wheat) var(--thick-border-width);
    width: 90%;
}

.sw-entry {
    padding: .5em;
}

.sw-entry-wrapper:nth-child(n) {
    margin: 1em;
    padding-left: 2em;
}

.sw-entry-wrapper:nth-child(1) {
    margin: 1em;
    border-bottom: solid var(--wheat) var(--border-width);
    padding-left: .5em;
}

#iss {
    height: 90vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#iss-button{
    margin: 2em;
}

@media only screen and (max-width: 700px) {
    :root {
        --default-font-size: 19px;
    }

    #checkbox-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) and (min-width: 601px){
    :root {
        --default-font-size: 18px;
    }
}

@media only screen and (max-width: 600px){
    :root {
        --default-font-size: 17px;
    }

    .checkbox-wrapper {
        width: 100%
    }

    #app {
        background: var(--near-black);   
    }

    #sw-buttons {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .sw-content:nth-child(1), .sw-content:nth-child(2){
        width: 80%   
    }

    
}

@media only screen and (max-width: 450px){
    :root {
        --default-font-size: 16px;
    }

    .sw-content:nth-child(1), .sw-content:nth-child(2) {
        width: 75%;
    }
}
