:root {
    --wheat: #ecdec3;
    --button-alive: #AFF0D1;
    --button-dead: #AA88BA;
    --wheat-translucent: rgba(236, 222, 195, 0.5);
    --grey-wheat: rgb(119, 112, 100);
    --near-black: rgb(31, 30, 30);
    --spacing-large: 2em;
    --default-font-size: 20pt;
    --small-font-size: 12pt;
    --main-relative-width: 90%;
    --border-width: 1px;
}

* {
    background: none;
    margin: 0;
    padding: 0;
    color: var(--wheat);
    font-size: var(--default-font-size);
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0.1em 0.05em var(--wheat-translucent);
}

#root, body, html {
    background: var(--near-black);
    width: 100%;
}

#app {
    position: relative;
    min-height: 100vh;

    padding-top: var(--spacing-large);
    width: var(--main-relative-width);
    margin: auto;
    background: rgba(0, 0, 0, 0.719);
}

#input, #output, .main{
    background: none;

    margin: var(--spacing-large) auto;
    width: var(--main-relative-width);
    padding: 1em;
    border: solid var(--wheat) var(--border-width);
    border-radius: 0em 0em 0em 2em;
}

#input {
    border-radius: 2em 0em 0em 0em;
    text-align: center;
}

#credits {
    bottom: 0;
    left: 50%;

    text-align: center;
    width: var(--main-relative-width);
    margin: auto;
    padding: var(--spacing-large)
}

.fine-print {
    text-align: inherit;
    font-size: var(--small-font-size);
}

button {
    padding: 0.5em;
    border: solid var(--wheat) var(--border-width);
}

.grey {
    color: var(--grey-wheat);
}

.article {
    margin: 0.3em;
    padding: 0.3em;
}

.title-bar{
    font-size: 14pt;
    font-weight: 900;
}

.title-bar:nth-child(2){
    font-size: 10pt;
    font-style: italic;
}


details {
    font-size: var(--small-font-size);
}

summary:focus {
    box-shadow: none;
}

.article-content {
    padding: 0.5em;
    padding-left: 1em;
    font-size: var(--small-font-size);
}

summary {
    font-size: var(--small-font-size);
}

.checkbox-wrapper {
    background: var(--button-dead);
    padding: 0.5em;
    margin: 0.5em;
}

.checkbox-wrapper.active{
    background: var(--button-alive);
    color: var(--near-black)
}

.checkbox {
    color: inherit;
}

#checkbox-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.link-object {
    position: absolute;
    top: 10em;
    width: 10em;
    text-align: center;

    padding: 0.3em;
    border: solid var(--wheat) var(--border-width);
}

.link-object.position-left {
    transform: translateX(-40%) rotate(-90deg) ;
    left: 0;
}

.link-object.position-right {
    transform: translateX(40%) rotate(90deg) ;
    right: 0;
}

.link-literal {
    text-decoration: none;
}

#sw-buttons {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.sw-button.active {
    background: var(--wheat);
    color: var(--near-black);
}